@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Light"),
    url("./style/fonts/Montserrat-Light.woff2") format("woff2"),
    url("./style/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Regular"),
    url("./style/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./style/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-SemiBold"),
    url("./style/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("./style/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Bold"),
    url("./style/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("./style/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-ExtraBold"),
    url("./style/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("./style/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

:root {
  --primaryButton: #ff9900;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

textarea {
  all: unset;
  border: 0;
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  margin-bottom: 100px;
}

h3 {
  font-size: 48px;
  font-weight: 400;
}

* p {
  color: #333333;
}

.def {
  font-weight: lighter;
}

.semibald {
  font-weight: bold;
}

.container {
  width: min(90%, 1770px);
  margin: 0 auto;
}

/* Header */

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
  padding: 14px 75px;
  border-radius: 0 0 32px 32px;
  background-color: red;
}

.header__burger {
  position: absolute;
  top: 0;
  left: -10000%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 420px;
  height: 100vh;
  padding: 38px 50px;
  background-color: white;
}

.header__burger--active {
  left: 0;
}

.burger__close-button {
  width: 23px;
  height: 23px;
  margin-bottom: 107px;
}

.header__burgerList {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header__burgerButton {
  display: none;
}

.header__logobox {
  display: flex;
  gap: 12px;
  margin-right: 15%;
}

.header__list {
  display: flex;
  justify-content: space-between;
  width: 37%;
  min-width: 432px;
}

.header__searchBurger {
  position: absolute;
  display: none;
  width: 539px;
  height: 60px;
  padding: 16px 13px 16px 32px;
  border-radius: 24px;
  background-color: white;
}

.header__searchBurgerText {
  width: 421px;
  margin-right: 11px;
  border: none;
  border-bottom: 1px solid #cacaca;
}

.header__searchBurgerText:focus {
  outline: none;
}

.header__searchBurgerSearch {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.header__searchBurgerClose {
  width: 24px;
  height: 24px;
}

.header__searchBurger--active {
  top: 10%;
  left: 70%;
  display: flex;
}

/* BANNER */

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 100px 80px;
  border-radius: 32px;
  background-color: rgb(55, 77, 77);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.4s ease-in-out;
}

.banner__title {
  max-width: 840px;
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
  color: #fff;
}

.banner__desc {
  width: 49%;
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.banner__addOrder {
  width: 280px;
  height: 78px;
  padding: 25px 39px;
  border-radius: 16px;
  background-color: #ff9900;
  font-size: 23px;
  font-weight: 700;
  color: #fff;
}

.banner__backgroundsBtn {
  position: absolute;
  bottom: 30px;
  left: calc(50% - (15px + 20px + (15px / 2)));
  display: flex;
  gap: 20px;
}

.circleBTN {
  width: 15px;
  height: 15px;
  color: #b6b6b6;
}

.circleBTN--active {
  color: #ffffff;
}

/* ABOUT  */

.about__title {
  margin-bottom: 20px;
  font-size: 48px;
}

.about__desc {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "card1 card2"
    "card1 card3";
  gap: 32px;
}

.about__card {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 870px;
  padding: 65px 120px 65px 60px;
  border: 1px solid #cacaca;
  border-radius: 32px;
}

.about__card:nth-child(2) {
  grid-area: card2;
}

.about__card:nth-child(3) {
  grid-area: card3;
}

.about__card__banner {
  position: relative;
  grid-area: card1;
  padding: 0;
  border-radius: 32px;
}

.about__card__banner--background {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-image: url(../src/style/IMG/about.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about__card__shadowbox {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  max-width: 868px;
  padding: 50px;
  gap: 19%;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about__card__shadowbox--desc {
  color: white;
  /* width: 49%; */
  font-size: 16px;
}

.about__card__shadowbox--btn {
  max-width: 175px;
  max-height: 60px;
  padding: 20px 38px;
  border: 1px solid #ff9900;
  border-radius: 16px;
  color: white;
}

/* HowWork */

/* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "card1 card2"
    "card1 card3";
  gap: 32px; */

.howwork__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 30px 460px; */
  /* По дефолту 460, но здесь важно прижать кнопки шагов к описанию и заголовку пониже */

  grid-template-areas:
    "one three"
    "two three";
  gap: 10px;
}

.howwork__main__steps {
  display: flex;
  gap: 85px;
}

.howwork__title {
  margin-bottom: 50px;
}

.howwork__mainStep {
  font-size: 18px;
}

.howwork__main__info {
  grid-area: two;
}

.howwork__main__infoTitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.howwork__main__infoDesc {
  max-width: 758px;
  /* max-height: 352px; */
  margin-bottom: 18px;
  font-size: 20px;
}

.howwork__main__infoButtons--more {
  margin-right: 32px;
  padding: 20px 38px;
  color: #fff;
  background-color: #ff9900;
  border-radius: 16px;
  font-weight: 700;
}

.howwork__main__infoButtons--deal {
  padding: 20px 38px;
  border: 1px solid #000000;
  border-radius: 16px;
  font-weight: 400;
}

.howwork__main__steps {
  grid-area: one;
}

.howwork__main__info {
  grid-area: two;
}

.howwork__main__photo {
  grid-area: three;
  max-width: 870px;
  border-radius: 32px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.4s ease-in-out;
}

/* QNA */

.qna {
}

.qna__title {
  margin-bottom: 32px;
}

.qna__listItem__card {
  display: flex;
  padding: 39px 0;
  justify-content: space-between;
  border-top: 3px solid #cacaca;
}

.qna__listItem__cardDesc {
  display: none;
}

.qna__listItem__cardDesc--active {
  display: flex;
}

/* FOOTER */

footer {
  display: none;
  align-items: center;

  padding: 50px 75px;

  background-color: black;
}

.footer {
  display: none;
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__left--list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 70px;
}

.footer__left--itemList {
  color: #cacaca;
  font-weight: 600;
  font-size: 18px;
}

.footer__left--socials {
  display: flex;
  gap: 25px;
  align-items: center;
}

.footer__left--logoBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__left--logoIcon {
  color: white;
}

.footer__left--logoText {
  color: white;
}

.footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 25px;
}

.footer__middle__text {
  color: #cacaca;
  left: 0;
}

.footer__middle__input {
  width: 570px;
  height: 60px;
  background-color: #414141;
  border-radius: 16px;
}

.footer__middle__input:nth-child(4) {
  height: 150px;
}

.footer__middle__button {
  width: 269px;
  height: 58px;
  color: #fff;
  background-color: #ff9900;
  border-radius: 16px;
  font-weight: 700;
}

.footer__right {
  display: flex;
  flex-direction: column;
  max-width: 363px;
  max-height: 320px;
  font-size: 16px;
  color: #cacaca;
}

@media (max-width: 1440px) {
  .about__card {
    gap: 25px;
    padding: 35px 30px;
  }

  .about__card__banner {
    padding: 0;
  }

  .about__card__shadowbox {
    max-height: 40%;
    gap: 10%;
    padding: 35px;
  }

  footer {
    justify-content: space-around;
    align-items: center;
  }

  .footer__right {
    display: none;
  }
}

@media (max-width: 1150px) {
  .about__card {
    padding: 25px 20px;
  }

  .about__card__svg {
    max-width: 91px;
    max-height: 80px;
  }

  .about__card__banner {
    padding: 0;
  }

  .about__card__shadowbox {
    gap: 15%;
  }

  .about__card__shadowbox--desc {
    font-size: 14px;
  }

  .about__card__text--title {
    max-width: 290px;
    font-size: 18px;
  }

  .about__card__text--desc {
    max-width: 290px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  /* .container {
    max-width: 924px;
    margin: 0px auto;
  } */

  .header {
    margin-bottom: 40px;
    padding: 26px 50px;
  }

  .header__burgerButton {
    display: block;
  }

  .header__logobox {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 150px;
    height: 48px;
    margin-right: 0;
  }

  .header__logoboxText {
    width: 116px;
    height: 28px;
  }

  .header__list {
    display: none;
  }

  .banner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 160px 77px;
  }

  .banner__title {
    max-width: 100%;
    margin-bottom: 16px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
  }

  .banner__desc {
    width: 71%;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .about__desc {
    width: 100%;
    margin-bottom: 60px;
  }

  .about__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3";
    gap: 32px;
  }

  .about__card {
    height: 295px;
  }

  .about__card__banner {
    height: 640px;
  }

  .about__card__shadowbox {
    max-height: 196px;
    max-width: 100%;
    height: 100%;
  }

  .about__card__shadowbox--desc {
    font-size: 16px;
  }

  .about__card__text--title {
    max-width: 452px;
    margin-bottom: 8px;
    font-size: 24px;
  }

  .about__card__text--desc {
    max-width: 390px;
    font-size: 16px;
  }

  .howwork__main {
    gap: 50px;
  }

  .howwork__main__photo {
    max-width: 437px;
    max-height: 689px;
  }

  .footer__middle {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
  }

  .footer__middle__text {
    color: #cacaca;
    left: 0;
  }

  .footer__middle__input {
    width: 421px;
    height: 60px;
  }

  .footer__middle__button {
    width: 241px;
    height: 58px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 50px;
  }

  .header__logobox {
    height: 48px;
  }

  .header__logoboxText {
    width: 116px;
    height: 28px;
  }

  .banner {
    padding: 130px 40px;
  }

  .banner__title {
    max-width: 840px;
    font-size: 50px;
  }

  .banner__desc {
    max-width: 83%;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .about__desc {
    max-width: 668px;
    margin-bottom: 60px;
  }

  .about__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3";
    gap: 32px;
  }

  .about__card__shadowbox {
    max-height: 196px;
    gap: 47px;
    padding: 34px 40px;
  }

  .about__card__shadowbox--desc {
    max-width: 366px;
    max-height: 128px;
  }

  .about__card {
    height: 295px;
  }

  .about__card__banner {
    padding: 0;
    height: 640px;
    gap: 14%;
  }

  /* .about__card__svg {
    max-width: 114px;
    max-height: 99px;
  } */

  .about__card__text--title {
    max-width: 452px;
  }

  .about__card__text--desc {
    max-width: 450px;
    font-size: 16px;
  }

  .howwork__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 284px 477px;
    grid-template-areas:
      "one"
      "three"
      "two";
    gap: 50px;
  }

  .howwork__main__steps {
    display: flex;
    gap: 20%;
  }

  .howwork__title {
    margin-bottom: 20px;
  }

  .howwork__mainStep {
    font-size: 18px;
  }

  .howwork__mainStep--active {
    color: #e1670e;
  }

  .howwork__main__infoTitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .howwork__main__infoDesc {
    max-width: auto;
    max-height: auto;
    margin-bottom: 25px;
    font-size: 16px;
  }

  .howwork__main__infoButtons--more {
    margin-right: 32px;
    padding: 20px 38px;
    color: #fff;
    background-color: #ff9900;
    border-radius: 16px;
    font-weight: 700;
  }

  .howwork__main__infoButtons--deal {
    padding: 20px 38px;
    border: 1px solid #000000;
    border-radius: 16px;
    font-weight: 400;
  }

  .howwork__main__steps {
    grid-area: one;
    align-self: end;
  }

  .howwork__main__info {
    grid-area: two;
    align-self: start;
  }

  .howwork__main__photo {
    grid-area: three;
    max-width: 870px;
    max-height: 460px;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    gap: 50px;
  }

  .footer__left--list {
    display: none;
  }

  .footer__middle__input {
    width: 100%;
    height: 60px;
  }
}

@media (max-width: 600px) {
  .banner {
    align-items: center;
  }

  .about__desc {
    max-width: 668px;
    margin-bottom: 60px;
  }

  .about__card__banner {
    flex-direction: column;
    /* height: auto; */
    gap: 10px;
  }

  /* Авто высота руинит всё, полностью убирая фотку с 600 до 500 */

  .about__card__shadowbox {
    height: auto;
    /* flex-direction: column; */
    /* justify-content: start; */
    /* align-self: start; */
    /* padding: 0; */
  }

  .about__card__shadowbox--desc {
    font-size: 14px;
  }

  /* .about__card__svg {
    max-width: 64px;
    max-height: 49px;
  } */

  .about__card__text--title {
    max-width: 290px;
    /* font-size: 18px; */
  }

  .about__card__text--desc {
    max-width: 290px;
    /* font-size: 14px; */
  }
}

@media (max-width: 500px) {
  .header {
    padding: 17px;
  }

  .header__burger {
    width: 100vw;
    padding: 23px 15px;
  }

  .header__logobox {
    width: 110px;
    height: 35px;
  }

  .header__logoboxLogo {
    width: 18px;
    height: 35px;
  }

  .header__logoboxText {
    width: 85px;
    height: 23px;
  }

  .banner {
    align-items: center;
    padding: 60px 21px;
  }

  .banner__title {
    max-width: 83%;
    font-size: 20px;
  }

  .banner__desc {
    max-width: 83%;
    margin-bottom: 60px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
  }

  .banner__addOrder {
    width: 162px;
    height: 41px;
    padding: 13px 28px;
    font-size: 12px;
  }

  .about__desc {
    max-width: 668px;
    margin-bottom: 60px;
  }

  .about__card__banner--background {
    height: 200px;
    width: 100%;
    max-width: auto;
    background-size: cover;
  }

  /* ВОТ ЭТА ШТУКА ВСЁ РУИНИЛА ВСЁ ЭТО ВРЕМЯ, ОНА ДОЛЖНА БЫТЬ В МЕДИА 600 А НЕ РАНЬШЕ */

  .about__card__shadowbox {
    display: flex;
    position: relative;
    align-items: start;
    flex-direction: column;
    padding: 0;
    gap: 12px;
    background-color: rgba(0, 0, 0, 0);
  }

  .about__card__shadowbox--desc {
    color: #000000;
    width: 100%;
    max-width: none;
    text-align: start;
  }

  .about__card__shadowbox--btn {
    width: 162px;
    height: 39px;
    padding: 12px 44px;
    color: #ff9900;
  }

  .about__card {
    flex-direction: column;
    align-items: start;
    height: auto;
    max-height: none;
    /* max-width: 290px; */
    gap: 12px;
    padding: 0;
    border: 0px;
  }

  .about__card__banner {
    flex-direction: column;
    height: auto;
    gap: 12px;
  }

  .about__card__banner--background {
    /* width: 100%;
    max-height: 100%; */
    /* max-width: 290px; */

    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .about__card__shadowbox {
    position: static;
  }

  .about__card__svg {
    max-width: 64px;
    max-height: 49px;
  }

  .about__card__text--title {
    max-width: none;
    text-align: start;
    font-size: 18px;
  }

  .about__card__text--desc {
    max-width: none;
    text-align: start;
    font-size: 14px;
  }

  footer {
    align-items: center;
  }

  .footer__left {
    align-items: center;
    width: 100%;
    padding: 16px;
    border-top: 3px solid #414141;
  }
}
