html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

/* input {
  all: unset;
  border: 0;
  resize: none;

} */

textarea {
  all: unset;
  border: 0;
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
}

section {
  margin-bottom: 100px;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Light"),
    url("./style/fonts/Montserrat-Light.woff2") format("woff2"),
    url("./style/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Regular"),
    url("./style/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./style/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-SemiBold"),
    url("./style/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("./style/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-Bold"),
    url("./style/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("./style/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat-ExtraBold"),
    url("./style/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("./style/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

* p {
  color: #333333;
}

.def {
  font-weight: lighter;
}

.semibald {
  font-weight: bold;
}

.container {
  width: min(90%, 1770px);
  margin: 0px auto;
}

/* .btn {
  border: 20px 30px;
  background-color: #ff9900;
  padding: 15px 20px;
} */

:root {
  --primaryButton: #ff9900;
}

h3 {
  font-size: 48px;
  font-weight: 400;
}

/* Header */

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
  padding: 14px 75px;
  border-radius: 0 0 32px 32px;
  background-color: aliceblue;
  background-color: red;
}

.header__burger {
  display: flex;
  position: absolute;
  left: -10000%;
  top: 0;
  height: 100vh;
  width: 420px;
  padding: 38px 50px;
  flex-direction: column;
  justify-content: start;
  background-color: white;
}

.header__burger--active {
  left: 0;
}

.burger__close-button {
  width: 23px;
  height: 23px;
  margin-bottom: 107px;
}

.header__burgerList {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header__burgerButton {
  display: none;
}

.header__logobox {
  display: flex;
  gap: 12px;
  margin-right: 15%;
}

.header__list {
  display: flex;
  justify-content: space-between;
  width: 37%;
  min-width: 432px;
}

.header__searchBurger {
  display: flex;
  width: 539px;
  height: 60px;
  border-radius: 24px;
  background-color: white;
  padding: 16px 13px 16px 32px;
}

.header__searchBurgerText {
  width: 421px;
  border: none;
  border-bottom: 1px solid #cacaca;
  margin-right: 11px;
}

.header__searchBurgerSearch {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.header__searchBurgerClose {
  width: 24px;
  height: 24px;
}

.header__searchBurgerText:focus {
  outline: none;
}

.header__searchBurger {
  display: none;
  position: absolute;
}

.header__searchBurger--active {
  display: flex;
  top: 10%;
  left: 70%;
}

/* BANNER */

main {
  /* display: none; */
}

.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 100px 80px;
  background-color: rgb(55, 77, 77);
  border-radius: 32px;

  transition: background-image 0.4s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 50px;
}

.banner__title {
  font-size: 70px;
  font-weight: 800;
  color: #fff;
  /* min-width: 52%; */
  max-width: 840px;
  margin-bottom: 24px;
}

.banner__desc {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  width: 49%;
  margin-bottom: 90px;
}

.banner__addOrder {
  width: 280px;
  height: 78px;
  padding: 25px 39px;
  background-color: #ff9900;
  border-radius: 16px;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
}

.banner__backgroundsBtn {
  position: absolute;
  bottom: 30px;
  left: calc(50% - (15px + 20px + (15px / 2)));
  display: flex;
  gap: 20px;
}

.circleBTN {
  color: #b6b6b6;
  width: 15px;
  height: 15px;
}

.circleBTN--active {
  color: #ffffff;
}

/* ABOUT  */

.about__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "card1 card2"
    "card1 card3";
  gap: 32px;
}

.about__card {
  display: flex;
  align-items: center;
  max-width: 870px;
  padding: 65px 120px 65px 60px;
  gap: 50px;
  border: 1px solid #cacaca;
  border-radius: 32px;
}

.about__card:nth-child(2) {
  grid-area: card2;
}

.about__card:nth-child(3) {
  grid-area: card3;
}

.about__title {
  font-size: 48px;
  margin-bottom: 20px;
}

.about__desc {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__card__banner {
  position: relative;
  grid-area: card1;
  padding: 0;
  border-radius: 32px;
}

.about__card__banner--background {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-image: url(../src/style/IMG/about.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.about__card__shadowbox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 868px;
  padding: 50px;
  gap: 160px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about__card__shadowbox--desc {
  color: white;
}

.about__card__shadowbox--btn {
  max-width: 175px;
  max-height: 60px;
  padding: 20px 38px;
  color: white;
  border: 1px solid #ff9900;
  border-radius: 16px;
}

/* HowWork */

/* .howwork {
  display: none;
} */

.howworkColumns {
  display: flex;
  align-items: end;

  gap: 142px;
}

.howwork__title {
  font-size: 48px;
  margin-bottom: 50px;
}

.howwork__main {
  display: inline-block;
  max-width: 758px;
}

.howwork__mainSteps {
  display: flex;
  gap: 85px;
  margin-bottom: 45px;
}

.howwork__mainTitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.howwork__mainDesc {
  max-width: 758px;
  font-size: 16px;
}

.howwork__buttonMore {
  padding: 20px 38px;
  margin-right: 32px;
}

.howwork__buttonDeal {
  padding: 20px 38px;
}

.howwork__photo {
  max-width: 870px;
  max-height: 460px;

  transition: background-image 0.4s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px 0px;

  background-color: black;
}

.footer__left {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.footer__left--itemList {
  color: #cacaca;
  font-weight: 600;
  font-size: 18px;
}

.footer__left--logoBox {
  display: flex;
  gap: 12px;
  align-items: center;
}

.footer__left--logoIcon {
  color: white;
}

.footer__left--logoText {
  color: white;
}

.footer__middle {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.footer__middle__text {
  color: #cacaca;
}

.footer__right {
  display: flex;
  flex-direction: column;

  max-width: 363px;
  max-height: 320px;
  color: #cacaca;
  font-size: 16px;
}

@media (max-width: 1440px) {
  /* .container {
    max-width: 1300px;
  } */

  .about__card {
    gap: 25px;
    padding: 35px 30px;
  }
}

@media (max-width: 1150px) {
  /* .container {
    max-width: 1300px;
  } */

  .about__card {
    gap: 25px;
    padding: 25px 20px;
  }

  .about__card__svg {
    max-width: 91px;
    max-height: 80px;
  }

  .about__card__text--title {
    max-width: 290px;
    font-size: 18px;
  }

  .about__card__text--desc {
    max-width: 290px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  /* .container {
    max-width: 924px;
    margin: 0px auto;
  } */

  body {
    background-color: tan;
    color: black;
  }

  .header {
    padding: 26px 50px;
    margin-bottom: 40px;
  }

  .header__burgerButton {
    display: block;
  }

  .header__list {
    display: none;
  }

  .header__logobox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 0px;
    width: 150px;
    height: 48px;
  }

  .header__logoboxText {
    width: 116px;
    height: 28px;
  }

  .banner {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 160px 77px;
  }

  .banner__title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    max-width: 100%;
    margin-bottom: 16px;
  }

  .banner__desc {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    width: 71%;
    margin-bottom: 60px;
  }

  .about__desc {
    width: 100%;
    margin-bottom: 60px;
  }

  .about__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3";
    gap: 32px;
  }

  .about__card__banner {
    height: 640px;
  }

  .about__card {
    height: 295px;
  }

  .about__card__shadowbox {
    max-width: 100%;
  }

  .about__card__text--title {
    max-width: 452px;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .about__card__text--desc {
    max-width: 390px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  /* .container {
    max-width: 668px;
    margin: 0px auto;
  } */

  .header {
    padding: 20px 50px;
  }

  .header__logobox {
    height: 48px;
  }

  .header__logoboxText {
    width: 116px;
    height: 28px;
  }

  .banner {
    padding: 130px 40px;
  }

  .banner__title {
    font-size: 50px;
    max-width: 840px;
  }

  .banner__desc {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    max-width: 83%;
    margin-bottom: 60px;
  }

  .about__desc {
    max-width: 668px;
    margin-bottom: 60px;
  }

  .about__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3";
    gap: 32px;
  }

  .about__card__banner {
    height: 640px;
  }

  .about__card__shadowbox {
    max-height: 196px;
  }

  .about__card__shadowbox--desc {
    max-width: 366px;
    max-height: 128px;
    font-size: 16px;
  }

  .about__card {
    padding: 35px 46px 35px 40px;
    height: 295px;
  }

  .about__card__svg {
    max-width: 114px;
    max-height: 99px;
  }

  .about__card__text--title {
    max-width: 452px;
  }

  .about__card__text--desc {
    max-width: 450px;
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .banner {
    align-items: center;
  }
}

@media (max-width: 500px) {
  /* .container {
    max-width: 290px;
    height: 308px;
    margin: 0px auto;
  } */

  .header {
    padding: 17px;
  }

  .header__burger {
    width: 100vw;
    padding: 23px 15px;
  }

  .header__logobox {
    width: 110px;
    height: 35px;
  }

  .header__logoboxLogo {
    width: 18px;
    height: 35px;
  }

  .header__logoboxText {
    width: 85px;
    height: 23px;
  }

  .banner {
    padding: 60px 21px;
    align-items: center;
  }

  .banner__title {
    font-size: 20px;
    max-width: 83%;
  }

  .banner__desc {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    max-width: 83%;
    margin-bottom: 60px;
  }

  .banner__addOrder {
    width: 162px;
    height: 41px;
    padding: 13px 28px;
    font-size: 12px;
  }

  .about__desc {
    max-width: 668px;
    margin-bottom: 60px;
  }

  .about__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3";
    gap: 32px;
  }

  .about__card__banner {
    height: 640px;
  }

  /* .about__card {
    flex-direction: column;
    align-items: start;
    padding: 0px;
    max-height: 250px;
    max-width: 290px;
    padding: 0px;
    border: 0px;
  }

  .about__card__banner {
    max-height: 200px;
    max-width: 290px;
    margin-bottom: 150px;
  }

  .about__card__shadowbox {
    display: flex;
    position: relative;
    align-items: start;
    flex-direction: column;
    padding: 0;
    gap: 12px;
    /max-height: 0px; 
    background-color: rgba(0, 0, 0, 0);
  } */
  .about__card {
    padding: 0;
  }
  .about__card__banner {
    flex-direction: column;
  }

  .about__card__banner--background {
    height: 200px;
    width: 100%;
    background-size: contain;
  }

  .about__card__shadowbox {
    position: static;
  }

  .about__card__svg {
    max-width: 64px;
    max-height: 49px;
  }

  .about__card__text--title {
    max-width: 290px;
    font-size: 18px;
  }

  .about__card__text--desc {
    max-width: 290px;
    font-size: 14px;
  }
}
