


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


ul {
  padding: 0;
  list-style: none;
}

/* input {
  all: unset;
  border: 0;
  resize: none;

} */

textarea {
  all: unset;
  border: 0;
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  margin: 0
}

.container {
  width: 1170px;
  margin: 0px auto;
}

section {
  padding-top: 87px;
  padding-bottom: 160px;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Light"),
       url("./style/fonts/Montserrat-Light.woff2") format("woff2"),
       url("./style/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Regular"),
       url("./style/fonts/Montserrat-Regular.woff2") format("woff2"),
       url("./style/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-SemiBold"),
       url("./style/fonts/Montserrat-SemiBold.woff2") format("woff2"),
       url("./style/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

* p {
  color: #333333
  
}

.def {
  font-weight: lighter;
}

.semibald {
  font-weight: bold;
}



/* Header */


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 14px 75px;
}

.header__logobox {
  display: flex;
  gap: 12px;
  margin-right: 200px;
}

.header__list {
  display: flex;
  gap: 85px;
}


.header__search {
  display: inline-block;
}




/* ABOUT  */



.about {
  display: flex;
}

.about__card {
  display: flex;
}